.hero{
	.bg__portada{
		filter: brightness(80%);
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 0;
	}
	.container{
		padding-left: 0px !important;
		margin-left: 20px !important;
	}
	.lautiflix__button__rp{
		background-color: rgba(0,0,0,0.3) !important;
		padding: 5px 20px 5px 20px;
		height: 40px;
		font-weight: 700 !important;
		color: #fff;
		border: none;
		transition-duration: 0.3s;
		&:hover{
			background-color: rgb(230,230,230) !important;
			color: #333333 !important;
			transform: scale(1.1);
			transition-duration: 0.3s;
		}
	}
}