// Video Component.
.VideoComponentDoYouWontClose{
  position: fixed;
  bottom: 30px;
  height: auto;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent;
  text-align: center;
  .button{
    transition-duration: 0.3s;
    width: 150px;
    &.hover{
      transition-duration: 0.3s;

    }
  }
}
.VideoComponent{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  z-index: 999;
  display: table;
  transition-duration: 0.3s;
  div.videoComponentContainer{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    video{
      width: 60%;
      height: auto;
      border-radius: 3px;
      z-index: 16000;
      opacity: 0;
      transition-duration: 0.3s;
      &.isActive{
        opacity: 1;
        transition-delay: 1s;
        transition-duration: 0.3s;
      }
    }
  }
}

@media screen and (max-width: 1024px){
  .VideoComponent{
    background-color: rgba(0,0,0,.7);
    .videoComponentContainer{
      video{
        width: 99% !important;
      }
    }
  }
}
